body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sub-menu-sidebar ul li{
    list-style-type: none;
    padding: 20px;
}
.main-body{
    background: linear-gradient(180deg, rgba(244, 249, 255, 0.0001) 0%, #F4F9FF 26.23%);
    ;
}
h6 {
    white-space: nowrap;
}
img{
    padding: 10px;
}
.sub-menu-sidebar li:hover {
    background: #1F36AB;
    cursor: pointer;
    color: white;
}
.logo{
    margin: auto;
    width: 50%;
}
.navs ul li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}